body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}

.app-logo {
    width: 150px; /* Set a fixed width */
    height: auto; /* Maintain aspect ratio */
}
